img{
  width: 100%;
}

body{
  background-image: url("http://ox6t89mri.bkt.clouddn.com/background-img.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  color: white;
}

h1{
  text-align: center;
}

h3{
  border-left: 0.25em solid skyblue;
}

p{
  text-indent: 1em;
  border-radius: 5%;
  padding: 4px;
}

ol{
  border-radius: 5%;
}

.content img{
  width: 100%;
  margin: auto;
  padding: 14%;
}

.content ul{
  border-radius: 5%;
}

.mm-title{
  display: none;
}
.el-dropdown{
  position: fixed;
  left: 0px;
  top:0px;

}

#menu-button{
  position: fixed;
  border-color:#fff;
  top:0px;
}

#menu{
  background-image: url("http://ox6t89mri.bkt.clouddn.com/menu.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  color: #fff;
}

#header{
  height: 30vh;
  width:100%;
  background-image: url("http://ox6t89mri.bkt.clouddn.com/header.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:right;
}
